.bimg {
  background-image: url('./admin4.webp');
  background-size: cover;
  height: 87.3vh;
  width: 212.9vh;
  margin-top: -350px;
  background-repeat: no-repeat;
  color:aliceblue;
}

.heading
{
 margin-top: 19rem;
 margin-left:40rem;
  color:white;
}


