@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Montserrat&family=Roboto:wght@300;700&family=Rubik&family=Teko:wght@500&display=swap');

.timer{
    display: inline;
    background-color: rgb(232, 235, 240);
    padding: 0 20%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}